# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python
*.pyc binary

# Web
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.html text
*.md text

# Image
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
