fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
pandas
numpy
openpyxl
scikit-learn
joblib
shap
python-dateutil
python-dotenv==1.0.0
pytest==7.4.3
shap==0.46.0
httpx

requests
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
redis
arq
